# Compiled binaries
*.exe
*.out
*.app
*.o
*.a
*.lib
*.dll
*.so
*.dylib

# Compiled examples from ez-cpp
demo_io
demo_math
demo_str
app

# Build folders
build/
bin/
out/

# IDE & OS Files
.vscode/
.idea/
.DS_Store
